apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-config-map
  namespace: codeparce-devops
data:
  gitlab.rb: |
    external_url 'http://gitlab.codeparce'
    puma['worker_processes'] = 1
    puma['threads'] = [1, 2]
    sidekiq['concurrency'] = 3
    prometheus_monitoring['enable'] = false
    gitlab_rails['gitlab_shell_ssh_port'] = 2222

    #registry_external_url 'https://registry.gitlab.codeparce'
    #gitlab_rails['registry_enabled'] = true

    ### GitLab email server settings
    ###! Docs: https://docs.gitlab.com/omnibus/settings/smtp.html
    ###! **Use smtp instead of sendmail/postfix.**

    ### Job Artifacts
    gitlab_rails['artifacts_enabled'] = true
    gitlab_rails['artifacts_path'] = "/var/opt/gitlab/gitlab-rails/shared/artifacts"
    gitlab_rails['artifacts_max_size'] = 5000 # En MB
