apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: "${NAME}-ingress"
  namespace: ${NAMESPACE}
  annotations:
    traefik.ingress.kubernetes.io/router.entrypoints: web
spec:
  entryPoints:
    - web
  routes:
    - match: Host(`${DOMINE}`)
      kind: Rule
      services:
        - name: ${SERVICE}
          port: 80