apiVersion: apps/v1
kind: Deployment
metadata:
  name: pgadmin-deployment
  namespace: sasf-qa
spec:
  replicas: 1
  selector:
    matchLabels:
      app: pgadmin
  template:
    metadata:
      labels:
        app: pgadmin
    spec:
      containers:
        - name: pgadmin
          image: dpage/pgadmin4:8.9
          ports:
            - containerPort: 80
          envFrom:
            - secretRef:
                name: pg-secrets
          resources:
            limits:
              cpu: "500m"
              memory: "512Mi"
            requests:
              cpu: "250m"
              memory: "256Mi"