apiVersion: apps/v1
kind: Deployment
metadata:
  name: postgres-deployment
  labels:
    app: postgres
spec:
  replicas: 1
  selector: 
    matchLabels:
     app: postgres
  template:
    metadata:
      labels:
        app: postgres       
    spec:
      containers:
        - name: postgres
          image: postgres:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 5432
          envFrom:
            - secretRef:
                name: postgres-secret
          volumeMounts:
           # - mountPath: /var/lib/postgresql/data #revisar sobre volumenes to do
            #  name: postgres-storage
            - mountPath: /docker-entrypoint-initdb.d
              name : init-script
      volumes:
        - name: postgres-storage
          persistentVolumeClaim:
            claimName: postgres-pvc
        - name: init-script
          configMap:
             name: postgres-init-script-configmap