---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: ${NAME}-data-pv
spec:
  capacity:
    storage: ${STORAGE}
  accessModes:
    - ReadWriteOnce
  persistentVolumeReclaimPolicy: Retain
  storageClassName: local-path   
  hostPath:
    path: /mnt/${NAME}/data
