---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: ${NAME}-data-pvc
  namespace: ${NAMESPACE}
spec:
  storageClassName: local-path
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: ${STORAGE}
  volumeName: ${NAME}-data-pv