volumeClaimTemplates:
  - metadata:
      name: ${NAME}-data-vol
    spec:
      accessModes: ["ReadWriteOnce"]
      storageClassName: local-path
      resources:
        requests:
          storage: 1Gi